@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}


body {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  margin: 0;
  font-family: 'Open Sans'
}


.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-header a {
  color: #000;
  font-size: 1.4em;
  text-decoration: none;
}

.main-header .logo {
  width: 60px;
  height: 60px;
  background: url(assets/logo.svg) no-repeat center center;
  background-size: 100%;
  margin-right: 10px;
}

.main-header .logo a {
  display: block;
  height: 100%;
  text-indent: -9999px;
}

.main-header li {
  line-height: 60px;
}


.main-menu, .customer-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main-menu li {
  display: inline-block;
}


.toolbar {
  background-color: #f8f8f8;
  padding: 25px;
}

.toolbar .search {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.toolbar .search form {
  position: relative;
}

.toolbar .search input {
  padding: 11.5px;
  padding-left: 50px;
  width: 100%;
  font-size: 16px;
}

.toolbar .search button {
  border: none;
  background: transparent;
  width: 50px;
  height: 43px;
  font-size: 19px;
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
}


.store .container {
  max-width: 70%;
  margin: 0 auto;
}


.books-list {
  padding: 0;
}

.books-list .book {
  display: inline-block;
  max-width: 14.75%;
  margin-left: 2.25%;
  margin-bottom: 2.25%;
}

.books-list .book .cover {
  display: block;
}

.books-list .book .cover img {
  width: 100%;
}

.books-list .book .title {
  font-family: 'Open Sans Bold';
  color: #000;
  text-decoration: none;
  display: block;
}

.books-list .book .author {
  color: #adadad;
}
